@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-gradient-to-br {
    background-image: linear-gradient(
      to bottom right,
      var(--tw-gradient-stops)
    );
  }
}

.yRemoteSelection {
  background-color: rgba(250, 129, 0, 0.5);
}
.yRemoteSelectionHead {
  position: absolute;
  border-left: #ffa500 solid 2px;
  border-top: #ffa500 solid 2px;
  border-bottom: #ffa500 solid 2px;
  height: 100%;
  box-sizing: border-box;
}
.yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid #ffa500;
  border-radius: 4px;
  left: -4px;
  top: -5px;
}
