@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #61DAFB;
  --secondary-color: #FFA726;
  --background-color: #1E1E1E;
  --paper-color: #252526;
  --text-primary: #FFFFFF;
  --text-secondary: #BDBDBD;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color);
}

/*collaborative editing */
.yRemoteSelection {
  background-color: rgba(250, 129, 0, 0.5);
}

.yRemoteSelectionHead {
  position: absolute;
  border-left: var(--secondary-color) solid 2px;
  border-top: var(--secondary-color) solid 2px;
  border-bottom: var(--secondary-color) solid 2px;
  height: 100%;
  box-sizing: border-box;
}

.yRemoteSelectionHead::after {
  position: absolute;
  content: " ";
  border: 3px solid var(--secondary-color);
  border-radius: 4px;
  left: -4px;
  top: -5px;
}

@keyframes fadeInOut {
  0%, 100% { opacity: 0; }
  10%, 90% { opacity: 1; }
}

.animate-fade-in-out {
  animation: fadeInOut 2s ease-in-out;
}

/* MUI components */
.MuiButton-root {
  text-transform: none;
}

.MuiPaper-root {
  background-color: var(--paper-color);
}

.MuiTypography-root {
  color: var(--text-primary);
}

.MuiInputBase-root {
  color: var(--text-primary);
}

.MuiOutlinedInput-notchedOutline {
  border-color: var(--text-secondary);
}

.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color);
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: var(--primary-color);
}